.logo {
    width: 15%;
  }
  
  .nav-theme {
    background-color: #101018f8;
    font-size: 14px;
    font-family:"Yusei Magic",sans-serif;
    color: aliceblue;
  }
  
  .animate-navbar {
    /* box-shadow: 1px 1px 1px #222; */
    animation: moveDown 0.5s ease-in-out;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
    padding: 0px 18px;
  }
  .nav-theme {
    background-color: rgba(16,16,24,.89)!important;
  }

